body {
    background-image: url('img/festa-junina.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
}

/* Mantém a cor principal do seu projeto */
.container {
    background-color: rgba(0, 0, 0, 0.5); /* sobreposição escura p/ contraste */
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
}

.btn-primary {
    background-color: #0b40e7;
    border-color: #0b40e7;
    color: white;
}

.btn-primary:hover {
    background-color: #3fc95f;
    border-color: #3fc95f;
}

h1, h2 {
    color: #ff9936;
}

.container a:not(.btn) {
    color: #ec1313;
}

.row {
    align-items: center;
}

p {
    color: #f0f0f0;
}
